<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Basic HTML</title>
    </head>
    <body>
        <h1>Welcome to text analyzer. Enter your text below.</h1>
        <form action='/analyze' method="get">
            <textarea name='text' style='width: 1238px; height: 180px;'></textarea>
            <input type="checkbox" name='removepunc'> Remove punctuations.<br>
            <button type='submit'>Analyze text</button>

        </form>
    </body>
    </html> 
